<header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container">
                <a class="navbar-brand text-danger" href="{{ path('home') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-play" viewBox="0 0 16 16">
                        <path d="M6 10.117V5.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43z"/>
                        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                      </svg>
                    <strong>O'flix</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('tv_show_list') }}">Séries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ma liste</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-4 mb-md-0">
                        <li class="nav-item">
                            <a class="btn btn-danger" aria-current="page" href="login.html">Se connecter</a>
                        </li>
                    </ul>
                    <form class="d-flex m">
                        <input class="form-control me-2" type="search" placeholder="Ex : The mandalorian" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">GO</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>