<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}O'flix
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
			<link rel="stylesheet" href="css/oflix.css">
		{% endblock %}
	</head>
    <body>
        {% include "partials/_nav.html.twig" %}
        {% block body %}
        

        {% endblock %}

        {% block footer %}

        <footer class="text-muted text-center py-5">
				<div class="container">
					<p class="mb-1">2021 &copy; O'flix. Tous droits réservés</p>
				</div>
			</footer>
            
        {% endblock %}
    </body>
</html>
